/* Header */

*{
    justify-self: start;
    font-size:14.5px;
}

header{
    width: 100%;
}

header > * {
    margin: 0px;
    justify-self: center;
}

/* General CSS */

h1{
    font-size: x-large;
}

.section{
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: start;
}

.section *{
    margin-bottom: 0px;
}

.subsection{
    width: 100%;
    margin-top: 12px;
}

.subsection_subhead_1 > div:first-child{
    font-weight: bold;
}

.subsection_subhead_1, .subsection_subhead_2{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/* Points */

ul.points{
    margin: 0px;
    padding-left: 20px;
    text-align: start;
}