html{
  width: 100%;
  height: 100%;
  background-color: rgb(61, 58, 58);
  align-items: center;
}

body{
  display: flex;
  flex-direction: column;
  justify-self: center;

  width: 100%; /* Ensures it uses full width on small screens */
  height: auto;
  max-width: 900px; /* Or a specific pixel value that suits your needs */

  padding: 20px; /* Add some padding for better readability */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds a subtle page-like shadow */
  background-color: white;
}

#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}