#root{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Three equal columns */
  text-align: center;
}

html{
  width: 100vw;
  height: 100vh;
  padding: 0px;
  background-color: rgb(185, 234, 242);
  align-items: center;
}

*{
    font-size:14.5px;
}

body{
  width: 100%;
  margin: 0px;
}

#cvOutput{
  display: flex;
  flex-direction: column;
  justify-self: right;

  padding: 20px; /* Add some padding for better readability */
  margin: 10px 10px 10px 0px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds a subtle page-like shadow */
  background-color: white;

  height: fit-content;
}

#cvInput{
  margin: 30px;
  padding: 20px 0px;
  background-color: white;
}