#root{
  padding: 0px !important;

  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: row;
  text-align: center;
}

html{
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: rgb(185, 234, 242);
  align-items: center;
}

*{
    font-size:14.5px;
}

body{
  width: 100%;
  margin: 0px;
}

#cvOutput{
  display: flex;
  flex-direction: column;
  justify-self: right;

  width: 50%; /* Ensures it uses full width on small screens */
  height: auto;

  padding: 20px; /* Add some padding for better readability */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds a subtle page-like shadow */
  background-color: white;
}

#cvInput{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: start;

    margin: 30px;
    background-color: white;
}