/* General CSS */

.inputSection{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

/* Subheadings */

#SubheadingInput h2{
    margin-bottom: 0px;
}

.SubheadingInputContainer{
    display: inline;
}

button.SubheadingInputButtons{
    display: flex;
    justify-self: end;
    padding: 0px;
    margin-bottom: 0px;

    position: relative;
    top: 20px;
    text-align: center;

    z-index: 1;
}

/* Subheading Button */

#SubheadingInput > button{
    width: 100%;
    background-color: lightgreen;
    margin-top: 20px;
    padding: 5px;

    border: solid green 1px;
}